@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#root {
  width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.music-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.music-entry-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  margin-left: 100px;
  width: 600px;
}

.nav-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dddcdc;
  padding: 4px;
}

.sidebar {
  width: 300px;
  background-color: rgb(85, 72, 88);
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-item {
  color: #f7f7f7;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  padding-left: 4rem;
  line-height: 3;
}

.menu-item:hover {
  background-color: rgb(126, 113, 129);
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.btn {
  cursor: pointer;
  background-color: #c77fa3;
  box-shadow: var(--box-shadow);
  border-radius: 0.15rem;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.reset {
  max-width: 60px;
  background-color: #a07fc7;
  margin-left: 10px;
}

button {
  opacity: 0.3 !important;
}

button:hover {
  opacity: 1 !important;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* Post */
.post-date {
  font-style: italic;
  font-size: 0.8rem;
}

.post-source {
  font-size: 0.8rem;
}

.post-body {
  white-space: pre-line;
}

a {
  text-decoration: none;
}

.nav-link {
  margin-left: 8px;
  margin-right: 8px;
}
